body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
    background-color: aliceblue;
    min-width: 1330px;
}

#header-nav {
    background-color: #7e0cf5;
    color: white;
    padding: 12px;
    box-shadow: 0px 0px 10px #bbb;
}

input {
    padding: 4px 20px;
    letter-spacing: 2px;
}

.content-center {
    justify-content: center;
}

.btn {
    width: 100%;
}

.disabled {
    cursor: not-allowed;
    opacity: .6;
}

#canvas-container {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    box-sizing: border-box;
}

#myCanvas {
    background-color: white;
    background-image: url(/experiment/images/back.svg);
    background-size: 50px 50px;
}

.container {
    margin: 0 auto;
    vertical-align: top;
    box-sizing: border-box;
    /* height: 500px; */
    width: max-content;
    margin-bottom: 60px;
}

.container>div {
    display: inline-block;
    box-sizing: border-box;
    margin: 0px 2px;
    vertical-align: top;
}

.container>div h4 {
    background-color: black;
    color: white;
    box-shadow: 0px 1px 5px #bbb;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    margin: 0;
}
#l1{
    margin: 0 auto;
}
.row{
    display: block;
    width: 100%;
    text-align: center;
    margin: 3px auto;
}
.col{
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.item{
    cursor: pointer;
    text-align: center;
    padding: 10px 5px;
    width: 80px;
    height: 80px;
    background: white;
}
button{
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
.disabled{
    opacity: .6;
    cursor: not-allowed;
}

#terminal {
    background: rgba(48, 10, 36, 1);
    height: 260px;
    width: 280px;
    word-wrap: normal;
    color: white;
    font-family: terminalFont;
    letter-spacing: 3px;
    overflow-y: scroll;
    font-size: 12px;
    word-spacing: 3px;
    font-weight: 1;
    margin: 0;
    -webkit-user-select: text;
    /* Safari 3.1+ */
    -moz-user-select: text;
    /* Firefox 2+ */
    -ms-user-select: text;
    /* IE 10+ */
    user-select: text;
    /* Standard syntax */
    cursor: text;
}
h6{
    margin: 0;
}

#terminal::-webkit-scrollbar {
    width: 5px;
}

/* Track */

#terminal::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */

#terminal::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
    cursor: pointer;
}

/* Handle on hover */

#terminal::-webkit-scrollbar-thumb:hover {
    background: white;
}

.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: black;
    opacity: 1;
    z-index: 1;
    display: block;
}

.layer {
    display: block;
    position: absolute;
    height: 3em;
    width: 3em;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);
}

.layer:nth-of-type(1) {
    background: #534a47;
    margin-top: 1.5em;
    -webkit-animation: movedown 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s infinite normal;
    animation: movedown 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s infinite normal;
}

.layer:nth-of-type(1):before {
    content: '';
    position: absolute;
    width: 85%;
    height: 85%;
    background: #37332f;
}

.layer:nth-of-type(2) {
    background: #1cb096;
    margin-top: 0.75em;
}

.layer:nth-of-type(3) {
    background: rgba(255, 255, 255, 0.6);
    -webkit-animation: moveup 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) infinite normal;
    animation: moveup 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) infinite normal;
}

@font-face {
    font-family: 'digitalFont';
    src: url('/experiment/css/font/digital-7.ttf');
}

@font-face {
    font-family: 'terminalFont';
    src: url('/experiment/css/font/Tifax-AJ7g.ttf');
}

@-webkit-keyframes moveup {
    0%, 60%, 100% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
    }
}

@keyframes moveup {
    0%, 60%, 100% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
    }
}

@-webkit-keyframes movedown {
    0%, 60%, 100% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
    }
}

@keyframes movedown {
    0%, 60%, 100% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
        -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
    }
}

#dataTable {
    display: block;
    background-color: white;
    box-shadow: 0px -1px 10px #bbb;
}

table {
    width: 100%;
    background-color: white;
}

tr, td, th {
    text-align: center;
    border: 1px solid #bbb;
    border-collapse: collapse;
}

th {
    padding: 10px 20px;
}

td input {
    width: 100%;
    text-align: center;
}

.text-center {
    text-align: center;
}
.started{
    display: none;
}
select{
    padding: 5px 20px;
    cursor: pointer;
}